/*
CTC Separate Stylesheet
Updated: 2024-05-10 12:08:32
Theme Name: Kallyas Child 02
Theme URI: http://kallyas.net/
Template: kallyas
Author: Hogash
Author URI: http://themeforest.net/user/hogash
Description: A Highly customizable theme with page builder and unlimited colors.
Tags: left-sidebar,right-sidebar,custom-background,custom-colors,custom-header,custom-menu,editor-style,full-width-template,theme-options,translation-ready
Version: 4.18.1.1715357312
*/

