---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <url>
    <loc>{{ site.url }}/</loc>
    <priority>1.0</priority>
  </url>
  <url>
    <loc>{{ site.url }}/fraternity/</loc>
    <priority>0.8</priority>
  </url>
  <url>
    <loc>{{ site.url }}/fraternity/history/</loc>
    <priority>0.7</priority>
  </url>
  <url>
    <loc>{{ site.url }}/fraternity/founders/</loc>
    <priority>0.7</priority>
  </url>
  <url>
    <loc>{{ site.url }}/fraternity/leadership/</loc>
    <priority>0.7</priority>
  </url>
  <url>
    <loc>{{ site.url }}/chapter/</loc>
    <priority>0.8</priority>
  </url>
  <url>
    <loc>{{ site.url }}/chapter/history/</loc>
    <priority>0.7</priority>
  </url>
  <url>
    <loc>{{ site.url }}/chapter/leadership/</loc>
    <priority>0.7</priority>
  </url>
  <url>
    <loc>{{ site.url }}/chapter/past-polemarchs/</loc>
    <priority>0.7</priority>
  </url>
  <url>
    <loc>{{ site.url }}/chapter/undergraduate-chapters/</loc>
    <priority>0.7</priority>
  </url>
  <url>
    <loc>{{ site.url }}/programs/</loc>
    <priority>0.8</priority>
  </url>
  <url>
    <loc>{{ site.url }}/programs/kappa-league/</loc>
    <priority>0.7</priority>
  </url>
  <url>
    <loc>{{ site.url }}/programs/cuts-and-curls/</loc>
    <priority>0.7</priority>
  </url>
  <url>
    <loc>{{ site.url }}/membership/</loc>
    <priority>0.8</priority>
  </url>
  <url>
    <loc>{{ site.url }}/membership/reclamation/</loc>
    <priority>0.6</priority>
  </url>
  <url>
    <loc>{{ site.url }}/news/</loc>
    <priority>0.6</priority>
  </url>
  <url>
    <loc>{{ site.url }}/contact/</loc>
    <priority>0.8</priority>
  </url>
  <url>
    <loc>{{ site.url }}/privacy-policy/</loc>
    <priority>0.3</priority>
  </url>
</urlset>
